RewriteEngine on

# Não reescreve requisições caso o arquivo ou diretório físico exista
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [NC,L,QSA]
